input[type=submit] {
    background-color: #191970;
    border-radius:  4px;
    border: none;
    color: white;
    padding: 15px;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 130px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
   
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;

}


.container{
    padding-top: 50px;
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;

}

form{
    background-color: #483D8B;
    border-radius: 8px;
}

body{
    font-family: monospace;
    background: -webkit-linear-gradient(to left, black, #191970);
    background: linear-gradient(to left,  black, #191970);
}

h1{
   color: white; 
}

p{
    color: white;
    font-size: 16px;
   
}
